#gitignore

book-example/__pycache__/
book-example/.ipynb_checkpoints/

dividend-achievers/__pycache__/
dividend-achievers/.ipynb_checkpoints/

*.pyc
app/debug.log
app/output/
app/build/
app/*.spec
app/dist/debug.log
app/dist/data/
dividend-achievers/.ipynb_checkpoints/Test-checkpoint.ipynb
etc/.ipynb_checkpoints/Usa_Stock_Portfolio_Manager-checkpoint.ipynb
etc/.ipynb_checkpoints/Usa_Stock_Portfolio_Manager-Test-checkpoint.ipynb
*.pyc
dividend-achievers/__pycache__/StockBasicInfo.cpython-39.pyc
dividend-achievers/__pycache__/StockBasicInfo.cpython-39.pyc
dividend-achievers/__pycache__/StockScore.cpython-39.pyc
data-collect/.ipynb_checkpoints/1_collect_fred_data-checkpoint.ipynb
*.ipynb
dividend-achievers/__pycache__/StockBasicInfo.cpython-39.pyc
dividend-achievers/__pycache__/StockScore.cpython-39.pyc
dividend-achievers/.ipynb_checkpoints/01_Div_Achievers_Sector_Grouping_Analysis-checkpoint.ipynb
dividend-achievers/__pycache__/StockBasicInfo.cpython-39.pyc
dividend-achievers/__pycache__/StockScore.cpython-39.pyc
dividend-achievers/.ipynb_checkpoints/01_Div_Achievers_Sector_Grouping_Analysis-checkpoint.ipynb
dividend-achievers/__pycache__/StockBasicInfo.cpython-39.pyc
dividend-achievers/__pycache__/StockScore.cpython-39.pyc
app/dist/data/stocklist.csv
app/dist/output/chart/AMGN.png
app/dist/output/chart/TXN.png
app/dist/output/stocklist_result.csv
app/dist/output/stocklist_result_sorted_buyscore.csv
app/dist/UsaDivStockAnalyzer.exe
dividend-achievers/__pycache__/StockBasicInfo.cpython-39.pyc
dividend-achievers/__pycache__/StockScore.cpython-39.pyc
dividend-achievers/__pycache__/StockScore.cpython-39.pyc
*.pyc
app/dist/output/chart/AMGN.png
app/dist/output/chart/AMGN.png
app/dist/output/chart/AMGN.png
app/dist/output/chart/TXN.png
app/dist/output/stocklist_result.csv
app/dist/output/stocklist_result_sorted_buyscore.csv
