#gitignore

book-example/__pycache__/
book-example/.ipynb_checkpoints/

dividend-achievers/__pycache__/
dividend-achievers/.ipynb_checkpoints/
dividend-achievers/output/
*.pyc
app/debug.log
app/output/
app/build/
app/*.spec
app/dist/
